/* Table Defaults */
table {
	float: left;
	margin: 2px;
	border-collapse: collapse;
}
table .empty {
	background-color: gray;
}
caption {
	text-align: left;
}
th {
	border: 1px solid black;
	padding: 2px;
}
td {
	border: 1px solid black;
	padding: 2px;
}
td.add-record {
	font-family: monospace;
}
td.delete-record {
	font-family: monospace;
}
td input[type="text"] {
	width: calc(100% - 4px);
}